<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="sigeas_database_context_mysql" connectionString="server=localhost;User Id=sigeas; password=s@ge_omega47; database=bi_sigeas_database" providerName="MySql.Data.MySqlClient" />
    <add name="sigeas_database_context_mysql_kserver" connectionString="server=172.16.237.1;User Id=sigeas; password=s@ge_omega47; database=bi_sigeas_database" providerName="MySql.Data.MySqlClient" />
    <add name="sigeas_database_context_postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5432;User Id=sigeas;Password=s@ge_omega47;Database=bi_sigeas_database;" />
    <!--"server=localhost; port=5432; userid=sigeas; password=s@ge_omega47; database=bi_sigeas_database"-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>